<!DOCTYPE html>
<html>
  <head>
    <title>WebAuth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Font Awesome 6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Font -->
    <link href="https://fonts.cdnfonts.com/css/ubuntu" rel="stylesheet">

    <!-- FAV AND ICONS   -->
    <%= favicon_link_tag "https://freepngimg.com/download/earth/32841-7-earth-transparent-image.png" %>
  </head>

  <body class="max-w-full overflow-x-hidden font-['ubuntu'] bg-gradient-to-r from-gray-900 to-gray-500">
    <% if current_user %>
      <%= render "shared/header" %>
      <main>
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    <% else %>
      <main class="p-6">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
